.electric{
    height: 100vh;
    background: linear-gradient(45deg, yellow, black, yellow, black, yellow);
    &__container {
        background: white;
        border-radius: 1rem;
        padding: 1rem;
        border: 1px solid lavender;
        &-title {
            width: max-content;
        }
    }
}