<div class="flip-card">
    <input type="checkbox" id={{cardConfig.index}} class="flip-card-checkbox">
    <label for={{cardConfig.index}} class="flip-card-inner">
        <div [ngClass]="cardConfig.type && cardConfig?.style" class="flip-card-front" [routerLink]="cardConfig.route || ''">
            <span>
                {{ cardConfig.title }}
            </span>
        </div>
        <div [ngClass]="cardConfig.type && cardConfig?.style" class="flip-card-back" [routerLink]="cardConfig.route || ''">

                <span class="flip-card-back__title">
                        {{ cardConfig.title }}
                </span> 
           
                 
            <span class="flip-card-back__text">
                {{ cardConfig.text }}
            </span>
         
         
        </div>
    </label>
</div>
