<div class="flip-card">
    <input type="checkbox" id={{cardConfig.index}} class="flip-card-checkbox">
    <label for={{cardConfig.index}} class="flip-card-inner">
        <div [ngClass]="cardConfig.type && cardConfig?.style" class="flip-card-front" [routerLink]="cardConfig.route || ''">
            <span>
                {{ cardConfig.title }}
            </span>
        </div>
        <div [ngClass]="cardConfig.type && cardConfig?.style" class="flip-card-back" [routerLink]="cardConfig.route || ''">

                <span class="flip-card-back__title">
                        {{ cardConfig.title }}
                </span> 
           
                 
            <span class="flip-card-back__text">
                {{ cardConfig.text }}
            </span> 
            

            <span *ngIf="cardConfig.title === 'CONTATTI'" class="flip-card-back__text">
                Ingegnere nucleare e perito qualificato per risanamento radon
            </span>

            <span *ngIf="cardConfig.title === 'CONTATTI'" class="flip-card-back__text">
                <b>Email: </b>andreabaglivo&#64;gmail.com
               
            </span>
            <span *ngIf="cardConfig.title === 'CONTATTI'" class="flip-card-back__text">
                <b>Telefono: </b> +39 334 778 9570
            </span>
        
        </div>
    </label>
</div>
