<div class="building pt-3">
  <div>
    <h1 class="d-flex justify-content-center">{{ title }}</h1>
  </div>

  <ea-sheet [sheet]="generalInfo"></ea-sheet>

  <div class="building__container m-3 mt-5">
    <div class="row">
      <div class="col-12">
        <h3>Impianti e sistemi</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        <ae-card [cardConfig]="electricCard" class="m-2"></ae-card>
        <ae-card [cardConfig]="hydraulicCard" class="m-2"></ae-card>
        <ae-card [cardConfig]="gardenCard" class="m-2"></ae-card>
        <ae-card [cardConfig]="heatingCard" class="m-2"></ae-card>
        <ae-card [cardConfig]="structureCard" class="m-2"></ae-card>
        <ae-card [cardConfig]="photovoltaicCard" class="m-2"></ae-card>
        <!-- //allarme furto
            //illuminazion

            / -->
      </div>
    </div>
  </div>

  <div class="building__container m-3 mt-5">
    <div class="row">
      <div class="col-12">
        <h3>Gestione finanziaria</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex">
        <ae-card [cardConfig]="expenseCard" class="m-2"></ae-card>
        <ae-card [cardConfig]="insuranceCard" class="m-2"></ae-card>

       
        <!-- //allarme furto
            //illuminazion

            / -->
      </div>
    </div>
  </div>

  <div class="building__container mt-5">
    <div class="row">
      <div class="col-12">
        <h3>Appartamenti</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button mat-raised-button color="primary" routerLink="room">
          Go to Room
        </button>
      </div>
    </div>
  </div>

  <div class="building__container mt-5">
    <div class="row">
      <div class="col-12">
        <h3>Interventi attivi</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button mat-raised-button color="primary" routerLink="room">
          Go to List
        </button>
      </div>
    </div>
  </div>

  <div class="building__container mt-5">
    <div class="row">
      <div class="col-12">
        <h3>Scadenze</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button mat-raised-button color="primary" routerLink="room">
          Go to List
        </button>
      </div>
    </div>
  </div>
</div>
