.home{

    &__card-col {
        flex: 0 0 auto;
        width: 50%;
    }

    &__container {
        background-image: url("../../../assets/img/rocce.jpg");
        min-height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
       
    }
}

@media (max-width: 700px) {
    .home__card-menu {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .home__card-col {
        flex: 0 0 auto;
        width: 100%;

    }
}
