
<div class="home__container">
    <div class="home__container-up"></div>
    <div class="home__card-menu">
        <div class="row">
            <div class="col-6 m-0 p-0">
                <r-card [cardConfig]="cardInfo1"></r-card>
            </div>
            <div class="col-6 m-0 p-0">
                <r-card [cardConfig]="cardInfo2"></r-card>
            </div>
        </div>
        <div class="row">
            <div class="col-6 m-0 p-0">
                <r-card [cardConfig]="cardInfo3"></r-card>
            </div>
            <div class="col-6 m-0 p-0">
                <r-card [cardConfig]="cardInfo4"></r-card>
            </div>
        </div>
    </div>
    <div class="home__container-down"></div>
</div>