
<div class="home__container">
    <div class="p-5">    
        <div class="row home__card-menu">
            <div class="home__card-col m-0 p-1">
                <r-card [cardConfig]="cardInfo1"></r-card>
            </div>
            <div class="home__card-col m-0 p-1">
                <r-card [cardConfig]="cardInfo2"></r-card>
            </div>
        </div>
        <div class="row home__card-menu">
            <div class="home__card-col m-0 p-1">
                <r-card [cardConfig]="cardInfo3"></r-card>
            </div>
            <div class="home__card-col m-0 p-1">
                <r-card [cardConfig]="cardInfo4"></r-card>
            </div>
        </div>
    </div>
</div>