<div class="map-form__container">
  <form class="map-form">

    <div class="f-center">
        <mat-form-field class="map-form__item mt-1">
            <mat-label>ID</mat-label>
            <input matInput placeholder="######"/>
        </mat-form-field>
    </div>


    <div class="map__container" #map>mappa</div>


    <div class="j-around">
        <mat-form-field class="map-form__item mt-1">
          <mat-label>Città</mat-label>
          <input matInput placeholder="Ex. Trieste" />
        </mat-form-field>
    
        <mat-form-field class="map-form__item mt-1">
            <mat-label>Indirizzo</mat-label>
            <input matInput placeholder="Via Orazio 4"/>
        </mat-form-field>
    </div>
  </form>
</div>
