.map {
    &__container {
        display: flex;
        width: 113vh;
        height: 70vh;
        background-color: aquamarine;
        border-radius: 1rem;

    }

    &-form {
        display: flex;
        flex-direction: column;
        &__item {
            width: 20rem;
        }
    }
}