* {
    box-sizing: border-box;
}
html, body { 
    min-height: 100vh; 
    // background: linear-gradient(135deg, white, rgb(84, 246, 84));
    background: linear-gradient(135deg, white, silver);
    background-color:  black;


}
body { margin: 0; 
    font-family: "Montserrat", sans-serif;
}.bold {
    font-weight: 700;
}




