* {
    box-sizing: border-box;
}
html, body { 
    min-height: 100vh; 
    // background: linear-gradient(135deg, white, rgb(84, 246, 84));
    background: linear-gradient(135deg, white, silver);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }.bold {
    font-weight: 700;
}

.d-flex {
    display: flex;
}

.a-center {
    display: flex;
    align-items: center;
}

.j-center {
    display: flex;
    justify-content: center;
}

.j-between {
    display: flex;
    justify-content: space-between;
}

.j-around {
    display: flex;
    justify-content: space-around;
}

.f-center {
    display: flex;
    align-items: center;
    justify-content: center;
}



